<h3>Lista de Orçamentos</h3>
<br/>

<div class="span11">
	
	<%= link_to new_budget_path, :title => "Novo Orçamento",:class => "btn" do %>
			<i class="icon-plus"></i>&nbspNovo Orçamento
	<% end %>
			
</div>

<br/>
<br/>

<div class="span11">
<table class="table table-striped" >
  <tr>
    <th>Nº da NC</th>
    <th>Valor do Orçamento</th>
	<th>Data início</th>
	<th>Data fim</th>
    <th>Opções</th>
    
  </tr>

<% @budgets.each do |budget| %>
  <tr>
    <td><%= budget.nc_number %></td>
    <td><%= real_format(budget.total)%></td>
	<td><%= budget.start_date.strftime("%d/%m/%Y")%></td>
	<td><%= budget.end_date.strftime("%d/%m/%Y")%></td>
	<td>
		<ul>
			
			<li class="icon-edit" title="Editar">
				<%=link_to content_tag(:i,nil,:class=>"icon-edit"),edit_budget_path(budget)%>
			</li>
			
			<li class="icon-remove" title="Excluir">
				<%=link_to content_tag(:i,nil,:class=>"icon-remove"),budget, method: :delete, data: { confirm: 'Tem certeza que deseja excluir o orçamento selecionado?' }%>
			</li>
		</ul>
	</td>
  </tr>
<% end %>
</table>

<br />

</div>