<div class="hero-unit">
            <h1>Bem Vindo, <%= current_user.name%></h1>
            <p>Esse é o sistema de controle de orçamento do IFBA. Nele será possível gerenciar empenhos, pagamentos, sub-repasses e devoluções.</p>
			
			<%if current_user.unit.nil? %>
				<%if @budget.nil?%>
					<p>Não existem orçamentos no sistema &nbsp;&nbsp; <%= link_to 'crie agora', new_budget_path,:class=>'btn btn-primary btn-large' %></p>
				<%else%>
					<p><%= link_to 'clique aqui' ,rectory_index_home_index_path,:class=>'btn btn-primary btn-large' %> para começar! </p>
				<%end%>
			<%end%>
			
			<%if current_user.unit%>
			
				<%if @transfers.nil?%>
					<p>Ainda não existem sub-repasses para a sua unidade.</p>
				<%else%>
					<p>Existem <%=@transfers.lenght%> sub-repasses para a sua unidade, <%= link_to 'clique aqui' ,unit_index_home_index_path %> para começar. </p>
				<%end%>
				
			<%end%>
            
          </div>