<p id="notice"><%= notice %></p>

<p>
  <b>Ev:</b>
  <%= @nature.ev %>
</p>

<p>
  <b>Esf:</b>
  <%= @nature.esf %>
</p>

<p>
  <b>Ptres:</b>
  <%= @nature.ptres %>
</p>

<p>
  <b>Fonte:</b>
  <%= @nature.fonte %>
</p>

<p>
  <b>Nd:</b>
  <%= @nature.nd %>
</p>

<p>
  <b>Pi:</b>
  <%= @nature.pi %>
</p>


<%= link_to 'Edit', edit_nature_path(@nature) %> |
<%= link_to 'Back', natures_path %>
