<%=  javascript_tag  do%>
	
jQuery(function($) {
	
	$('#devolution_value').maskMoney({decimal:",",thousands:"."});
    $('#devolution_date').datepicker({
      yearRange     : 'c-0:c+10',
      showButtonPanel  : false,
      numberOfMonths  : 1,
      stepMonths    : 1,
	  dateFormat : 'dd/mm/yy',
	  dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      hideIfNoPrevNext: true
    });
});
	
	
<%end%>

<div class="modal-header">	
	<button data-dismiss="modal" class="close" type="button">×</button>
	<h3>Devolução</h3>
</div>

<%= form_for([@resource,@devolution],:remote => true,:html =>{:class => "form-horizontal", :style => "margin:0"}) do |f| %>
<div class="modal-body">
	
	
	<% if @devolution.errors.any? %>
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<ul class="unstyled">
					
					<% @devolution.errors.each do |attribute,msg| %>
						<li> <%=attribute_pt(attribute) + msg%></li>
					<% end %>
				</ul>
			</div>
			
		<% end %>
	
	<div class="control-group">
		<%= f.label :identification,"Número",:class=> "control-label" %>
		<div class="controls">
			<%= f.text_field :identification%>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :date,"Data",:class=> "control-label" %>
		<div class="controls">
			<%= f.text_field :date,:class=> "input-small"%>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :value,"valor",:class=> "control-label" %>
		<div class="controls">
			<%= f.text_field :value%>
		</div>
	</div>
	
</div>

<div class="modal-footer">
	<%= f.submit "Ok",:class => "btn btn-primary" %>
	<a data-dismiss="modal" class="btn" href="#">Fechar</a>

</div>		
<% end %>
	
	