<div class="row-fluid" id="transfer_<%=transfer.id%>">
	
<div class="well span12">
	
	<%=link_to content_tag(:i,nil,:class=>"icon-remove"),resource_transfer_path(transfer.resource,transfer),:class=>"close",:remote=>true,:method=> :delete,:confirm => 'Tem certeza que deseja remover o sub-repasse selecionado ?'%>
	<h3>Sub Repasse <%=transfer.identification%></h3>
	<p>Campus : <%=transfer.unit.name%></p>
	<p>Data : <%=transfer.date.strftime("%d/%m/%Y")%></p>
	<p>Valor : <%=real_format(transfer.value)%></p>
	
</div>

</div>