<!DOCTYPE html>
<html>
<head>
  <title>IF Baiano - Instituto Federal Baiano</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<%if user_signed_in?%>
				<a class="brand" href="/">
					Sua unidade é <%= if current_user.unit.nil?
										"Reitoria"
									  else
										current_user.unit.name
									  end
								   %>
				</a>
				<%end%>
				<div class="nav-collapse">
					<%if user_signed_in?%>	
					<ul class="nav pull-right">
						<li class="dropdown">
	 
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<%=current_user.email%><b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to destroy_user_session_path,:method => :delete do %>
										<i class="icon-off"></i> Sair 
									<% end %> 
								</li>
								
							</ul>
						</li>
					</ul>
					<%end%>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<% if notice %>
			<div class="alert alert-info fade in" data-alert="alert">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<%= notice %>
			</div>
		<% end %>
		<% if alert %>
			<div class="alert alert-success fade in" data-alert="alert">
				<a class="close" href="#" data-dismiss="alert">×</a>
				<%= alert %>
			</div>
		<% end %>

		<div class="row-fluid">
			<div class="span2">
					<a class="brand" href="/"><img src="/assets/logo-ifbaiano.png" style="size:164x164" class="thumbnail"></a>
					<br/>
				<ul class="nav nav-list">
					<li class="nav-header ">
						Cadastros
					</li>
					<li  class="<%= 'active' if params[:controller] == 'units' %>">
						<%= link_to "Unidades", units_path %>
					</li>
					<li class="<%= 'active' if (params[:controller] == 'natures')  %>">
						<%= link_to "Naturezas", natures_path %>
					</li>
					
					<li class="<%= 'active' if (params[:controller] == 'budgets')  %>">
						<%= link_to "Orçamento", budgets_path %>
					</li>
					
				</ul>
			</div>
			<div class="span10" >
				<div class="well" style="min-height:500px; border:1px solid #DDD; background-color:white;overflow:auto;">
						<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>